<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Product Review Analyzer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
<body>
    <div class="container">
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>

        <h3>Ratings Distribution:</h3>
        <ul class="ratings-list">
            {% for rating, count in ratings_count.items() %}
                <li>{{ rating }} stars: {{ count }}</li>
            {% endfor %}
        </ul>

        <form action="/analyze_reviews" method="post">
            <input type="hidden" name="asin" value="{{ asin }}">
            <button type="submit" name="review_type" value="positive">Analyze Positive Reviews</button>
            <button type="submit" name="review_type" value="negative">Analyze Negative Reviews</button>
        </form>
    </div>
</body>
</html>
